<div class="nav">
  <div>
    <div class="d-inline" *hasRole="'admin'">
      <a
        type="button"
        class="nav__btn d-inline"
        [routerLink]="['/admin/issues']"
        routerLinkActive="active"
        >Issues</a
      >
      <a
        type="button"
        class="nav__btn d-inline"
        [routerLink]="['/admin/assigned-issues']"
        routerLinkActive="active"
        >Assigned Issues</a
      >
      <a
        type="button"
        class="nav__btn"
        [routerLink]="['/admin/users']"
        routerLinkActive="active"
        >Users</a
      >
    </div>
    <div class="d-inline" *hasRole="'user'">
      <a
        type="button"
        class="nav__btn d-inline"
        [routerLink]="['/user/issues']"
        routerLinkActive="active"
        >Issues</a
      >
      <a
        type="button"
        class="nav__btn"
        [routerLink]="['/user/new-issue']"
        routerLinkActive="active"
        >New Issue</a
      >
    </div>
  </div>
  <div class="d-inline">
    <a type="button" class="nav__btn" (click)="logout()">Logout</a>
  </div>
</div>
