@import "../../variables";

.nav {
  position: relative;
  top: 0;
  padding: 12px;
  width: 100%;
  background-color: darken($color: $blue-sapphire, $amount: 0);
  display: flex;
  justify-content: space-between;

  &__btn {
    color: $beige !important;
    margin: 0 20px !important;
    font-size: 24px !important;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      color: lighten($color: $beige, $amount: 20) !important;
      font-weight: 700;
    }
  }
}
