<div class="issues">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-12 col-sm-3">
        <app-issues-search (startSearch)="search($event)"></app-issues-search>
      </div>

      <div class="col-12 col-sm-9">
        <div class="ml-3 issues__title">
          Issues list - {{ paginatedIssues.count }}
        </div>
        <div class="col-12">
          <div class="row text-center issues-list mb-4">
            <div
              class="col-md-2 col-12 issues-list__item issues-list__item--heading"
            >
              ID
            </div>
            <div
              class="col-md-3 col-12 issues-list__item issues-list__item--heading"
            >
              Title
            </div>
            <div
              class="col-md-2 col-12 issues-list__item issues-list__item--heading"
            >
              Departament
            </div>
            <div
              class="col-md-3 col-12 issues-list__item issues-list__item--heading"
            >
              Declarant
            </div>
            <div
              class="col-md-2 col-12 issues-list__item issues-list__item--heading"
            >
              Status
            </div>
          </div>
        </div>

        <div class="col-12" *ngFor="let issue of paginatedIssues.data">
          <div class="row text-center issues-list mb-4">
            <div
              class="col-md-2 col-12 issues-list__item issues-list__item--id"
            >
              #{{ issue.id }}
            </div>
            <div class="col-md-3 col-12 issues-list__item">
              {{ issue.title }}
            </div>
            <div class="col-md-2 col-12 issues-list__item">
              {{ issue.departament }}
            </div>
            <div class="col-md-3 col-12 issues-list__item">
              {{ issue.declarant }}
            </div>
            <div class="col-md-2 col-12 issues-list__item">
              {{ issue.status }}
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-9 offset-sm-3">
        <div class="pagination d-flex justify-content-center pt-5">
          <pagination
            [directionLinks]="true"
            [maxSize]="5"
            [itemsPerPage]="paginatedIssues.pageSize"
            [totalItems]="paginatedIssues.count"
            (pageChanged)="changePage($event)"
            class="pagination__custom"
          >
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>
