<div class="issues__title">Search By</div>
<div class="col-12 issues__search">Status</div>
<div *ngFor="let searchStatus of searchStatusList">
  <input
    (change)="search()"
    class="form-check-input col-2"
    type="radio"
    name="status"
    id="status-{{ searchStatus.status }}"
    value="{{ searchStatus.value }}"
    [(ngModel)]="searchModel.status"
  />
  <label
    class="col-10 issues__search--item"
    for="status-{{ searchStatus.status }}"
  >
    {{ searchStatus.status }} ({{ searchStatus.count }})
  </label>
</div>

<div class="col-12 issues__search">Priority</div>
<div *ngFor="let searchPriority of searchPriorityList">
  <input
    (change)="search()"
    class="form-check-input col-2"
    type="radio"
    name="priority"
    id="priority-{{ searchPriority.priority }}"
    value="{{ searchPriority.value }}"
    [(ngModel)]="searchModel.priority"
  />
  <label
    class="col-10 issues__search--item"
    for="priority-{{ searchPriority.priority }}"
  >
    {{ searchPriority.priority }}
  </label>
</div>

<div class="col-12 issues__search">Department</div>
<div *ngFor="let departament of departaments">
  <input
    (change)="search()"
    class="form-check-input col-2"
    type="radio"
    name="departament"
    id="status-{{ departament.name }}"
    value="{{ departament.name }}"
    [(ngModel)]="searchModel.departament"
  />
  <label
    class="col-10 issues__search--item"
    for="status-{{ departament.name }}"
  >
    {{ departament.name }}
  </label>
</div>
<div class="col-12 issues__search">Title</div>
<input
  class="form-control issues__search--item"
  [(ngModel)]="searchModel.title"
  name="title"
/>
<div class="col-12 issues__search">Declarant Last Name</div>
<input
  class="form-control issues__search--item"
  [(ngModel)]="searchModel.declarantLastName"
  name="declarantLastName"
/>

<button class="col-6 issues__search issues__search--btn btn" (click)="search()">
  Search
</button>
<button class="col-6 issues__search issues__search--btn btn" (click)="reset()">
  Reset
</button>
