@import "../../variables";

.login {
  background-image: linear-gradient(
    0deg,
    rgba($beige, 1),
    rgba($blue-sapphire, 1)
  );
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;

  &-box {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: $cultured;
    border-radius: 35%;
    box-shadow: 5px 5px 15px $eerie-black;

    &__btn {
      background-color: rgba($blue-sapphire, 0.6);
      font-size: 20px;
      transition: all 200ms linear;
      border-radius: 15px;
      width: 150px;
      color: $ghost-white;

      &:hover {
        background-color: rgba($blue-sapphire, 0.8);
      }
    }

    &-form {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      .form-control {
        font-size: 20px;
        background-color: $cultured;
        border: 1px solid rgba($blue-sapphire, 0.5);

        &:focus {
          box-shadow: 0 0 0 0.2rem rgba($blue-sapphire, 0.5);
          border: 1px solid $blue-sapphire;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .login {
    &-box {
      width: 90%;

      &__btn {
        width: 100px;
      }
    }
  }
}
