@import "../../variables";
@import "../../mixins";

.issue {
  &__content {
    overflow-y: auto;
    max-height: 78vh;
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__heading {
    color: lighten($color: $blue-sapphire, $amount: 30);
    font-size: 45px;
    font-weight: 800;
  }

  &__title,
  &-chat__title {
    color: lighten($color: $blue-sapphire, $amount: 10);
    font-size: 20px;
    font-weight: 700;
  }

  &__number {
    padding: 5px 0px;
    border-radius: 50px;
    font-weight: 700;
  }

  &__customer {
    font-weight: 500;
    font-size: 18px;
  }

  &-chat {
    max-height: 70vh;
    height: 70vh;
    overflow-y: auto;

    &__sender {
      border: 2px solid $blue-sapphire;
      padding: 15px 10px;
      background-color: $beige;
      border-radius: 10px;
    }

    &__user {
      font-weight: 700;
      font-size: 18px;
    }
  }

  &-support {
    background-color: $blue-sapphire;
    padding: 5px 0px;
    border-radius: 50px;
    color: $ghost-white;
  }

  &-assign {
    color: $blue-sapphire !important;
    font-size: 100px;
    cursor: pointer;
  }
}

.status {
  &-id {
    @include status-bg();
  }

  &-name {
    @include status-color();
  }
}
