<div class="tickets">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-12 col-sm-3">
        <div class="tickets__title">Search By</div>
        <div class="col-12 tickets__search">Status</div>
        <div class="col-12 tickets__search--item">New</div>
        <div class="col-12 tickets__search--item">Open</div>
        <div class="col-12 tickets__search--item">Pending</div>
        <div class="col-12 tickets__search">Department</div>
        <div class="col-12 tickets__search--item">Warehouse</div>
        <div class="col-12 tickets__search--item">Production</div>
      </div>

      <div class="col-12 col-sm-9">
        <div class="ml-3 tickets__title">Tickets list - 55</div>
        <div class="col-12">
          <div class="row text-center tickets-list mb-4">
            <div class="col-md-2 col-12 tickets-list__item">
              #123
            </div>
            <div class="col-md-3 col-12 tickets-list__item">
              Lorem ipsum dolor sit amet consectetur adipisic...
            </div>
            <div class="col-md-2 col-12 tickets-list__item">
              Warehouse
            </div>
            <div class="col-md-3 col-12 tickets-list__item">
              Patryk
            </div>
            <div class="col-md-2 col-12 tickets-list__item">Open</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-9 offset-sm-3">
        <div class="pagination d-flex justify-content-center pt-5">
          <pagination
            [directionLinks]="true"
            [maxSize]="5"
            [itemsPerPage]="5"
            [totalItems]="100"
            (pageChanged)="changePage($event)"
            class="pagination__custom"
          >
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>
