<div class="container-fluid ticket">
  <div class="row">
    <div class="col-lg-4 col-12 text-center">
      <div class="ticket__heading col-12 mb-2">New</div>
      <div class="col-12 ticket__content">
        <div class="col-6 offset-3">
          <div class="ticket__number mt-3">#12</div>
        </div>
        <div class="col-12 mt-4">
          <div>
            <div class="ticket__customer mb-2">
              Patryk Kowal
            </div>
            <div class="border col-4 offset-4"></div>
            <div class="mt-2 ticket__customer">Warehouse</div>
          </div>
        </div>
        <div class="col-12 my-4 border-bottom">
          <div class="mb-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
            sed facilis, cupiditate earum at perferendis unde dignissimos omnis
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-12 border-left">
      <app-ticket-detail></app-ticket-detail>
    </div>
  </div>
</div>
