<div class="issues__title">Search By</div>
<div class="col-12 issues__search">Status</div>
<div>
  <input
    class="form-check-input col-2"
    type="radio"
    name="status"
    id="status-new"
    value="1"
    [(ngModel)]="searchModel.status"
  />
  <label class="col-10 issues__search--item" for="status-new">
    New
  </label>
</div>
<div>
  <input
    class="form-check-input col-2"
    type="radio"
    name="status"
    id="status-open"
    value="2"
    [(ngModel)]="searchModel.status"
  />
  <label class="col-10 issues__search--item" for="status-open">
    Open
  </label>
</div>
<div>
  <input
    class="form-check-input col-2"
    type="radio"
    name="status"
    id="status-progress"
    value="3"
    [(ngModel)]="searchModel.status"
  />
  <label class="col-10 issues__search--item" for="status-progress">
    Progress
  </label>
</div>
<div>
  <input
    class="form-check-input col-2"
    type="radio"
    name="status"
    id="status-pending"
    value="4"
    [(ngModel)]="searchModel.status"
  />
  <label class="col-10 issues__search--item" for="status-pending">
    Pending
  </label>
</div>
<div>
  <input
    class="form-check-input col-2"
    type="radio"
    name="status"
    id="status-close"
    value="5"
    [(ngModel)]="searchModel.status"
  />
  <label class="col-10 issues__search--item" for="status-close">
    Close
  </label>
</div>

<div class="col-12 issues__search">Department</div>
<div *ngFor="let departament of departaments">
  <input
    class="form-check-input col-2"
    type="radio"
    name="departament"
    id="status-{{ departament.name }}"
    value="{{ departament.name }}"
    [(ngModel)]="searchModel.departament"
  />
  <label
    class="col-10 issues__search--item"
    for="status-{{ departament.name }}"
  >
    {{ departament.name }}
  </label>
</div>
<div class="col-12 issues__search">Title</div>
<input
  class="form-control issues__search--item"
  [(ngModel)]="searchModel.title"
  name="title"
/>
<div class="col-12 issues__search">Declarant Last Name</div>
<input
  class="form-control issues__search--item"
  [(ngModel)]="searchModel.declarantLastName"
  name="declarantLastName"
/>

<button class="col-6 issues__search issues__search--btn btn" (click)="search()">
  Search
</button>
<button class="col-6 issues__search issues__search--btn btn" (click)="reset()">
  Reset
</button>
