$eerie-black: #1c1c1c;
$cultured: #eef0f2;
$ghost-white: #fafaff;
$blue-sapphire: #28536b;
$beige: #ebebd3;

$status-new: #ff0a2b;
$status-pending: #ecffb0;
$status-progress: #3aea1f;
$status-open: #ffb81f;
